# Master CDRs sent to elastichsearch server
<source>
  type tail
  path /var/log/tomcat/catalina.out
  pos_file /var/log/td-agent/catalina.out.pos
  tag catlina.out
  refresh_interval 10
  format none
</source>


<match catlina.**>
  type record_modifier
  gen_host ${hostname}
  cluster testing
  tag fs.testing.${hostname}
</match>

<match fs.**>
  type secure_forward
  shared_key sUlWoNk
  self_hostname ${hostname}
  allow_self_signed_certificate true
  keepalive 3600
  buffer_type file
  buffer_path /var/log/td-agent/log_buffer/fluent.*.buffer
  buffer_chunk_limit 1m
  buffer_queue_limit 2048
  flush_interval 30s
  retry_limit 10
  retry_wait 10s
  <server>
  host 192.168.3.74
  port 2514
  </server>
</match>

